<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Spring eCommerce</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/static/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/static/css/heroic-features.css}" rel="stylesheet">


</head>
<body>

<!-- NAVBAR según sesión -->
<div th:if="${sesion == null}"
     th:insert="~{usuario/template_usuario :: header}"></div>
<div th:unless="${sesion == null}"
     th:insert="~{usuario/template_usuario :: header-user}"></div>

<div class="container mt-5">
    <h1 class="mt-4 mb-3">
        Spring eCommerce <small>Resumen de la orden</small>
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item active">Orden</li>
    </ol>

    <div class="card mb-4">
        <div class="card-body row">
            <div class="col-lg-9">
                <h5>DATOS ORDEN</h5>
                <p th:text="'Nombre: ' + ${usuario.nombre}"></p>
                <p th:text="'Email: ' + ${usuario.email}"></p>
                <p th:text="'Dirección: ' + ${usuario.direccion}"></p>

                <h5>PRODUCTOS</h5>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Producto</th><th>Precio</th><th>Cantidad</th><th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="d : ${cart}">
                        <td th:text="${d.nombre}"></td>
                        <td th:text="${d.precio}"></td>
                        <td th:text="${d.cantidad}"></td>
                        <td th:text="${d.total}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-3">
                <h2>Resumen Orden</h2>
                <ul class="list-group mb-3">
                    <li class="list-group-item">
                        <h5 th:text="'Total: ' + ${orden.total}"></h5>
                    </li>
                </ul>
                <a th:href="@{/saveOrder}" class="btn btn-dark btn-block">Generar</a>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script th:src="@{/static/vendor/jquery/jquery.min.js}"></script>

<!-- Bootstrap bundle (incluye Popper) -->
<script th:src="@{/static/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
